*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    padding: 20px;
}

header{
    margin-bottom: 30px;
}

.nav{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center; 
    font-size: 21px;
    padding: 0px 30px;
}

.nav-link{
    margin-left: 50px;
}

.nav-link button{
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(89, 100, 167);
}

.logo{
    font-size: 25px;
}

.nav a{
    text-decoration: none;
}



.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display1{
    display: flex;
    justify-content: center;
    align-items: center;
}



.border{
    border: 1px solid red;
}
.container-xxl{
    max-width: 1400px;
    margin: 0 auto;
}

.align-center{
    text-align: center;
}

.container{


    flex-wrap: wrap;
 
    padding: 20px;
}

.box{
   height:30vh;
   width: 25%;
   padding: 20px;
}
/* 
.box:first-child{
    background-color: blue;
}

.box:nth-child(2){
    background-color: green;
}

.box:nth-child(3){
    background-color: yellow;
}

.box:last-child{
    background-color: chartreuse;
} */

.boxes{
    border: 1px solid rgb(158, 195, 228);
    width: 95%;
   height: 95%;
    border-radius: 20px;
    background-color: aliceblue;
}
.vh-40{
    height: 40vh;
    width: 50%;
    padding: 20px;
}

.margin-top{
    margin-top: 30px;
}

.about-us{
    width: 100%;
    display: flex;
     flex-wrap: wrap;
}
.img{
    width: 50%;
}

.img img {
    width: 100%;
}

.about-content{
    width: 50%;
    font-size: 20px;
}
.h1{
    font-size: 35px;
}